body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
input{
    margin-top: 6px;
}

p{
    margin: 2px auto 3px auto;
}
Button{
    padding: 10px;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size:15px;
    border: none;
    width: 110px;
    cursor: pointer;
    background-color: rgb(114, 183, 240); 
}
Button:hover{
    box-shadow: 0 0.5em 0.5em -0.4em;
}
Button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
  /* App */
  .app{
    min-height: 100vh;
    margin: 0;
    background: rgb(243, 249, 252);
  }
nav{
    display: flex;
    background-color: #02325a;
    height: 100px;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 3px;
    min-width: 810px;
}
.nav-header{
    font-family: 'poppins';
    font-weight:900;
    font-size:50px;
    color: white;
    margin-right: auto;
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-items > li{
    list-style-type: none;
    padding: 0 20px;
    position:relative;
}
.btn-add{
    width: 140px;
    display: block;
    /* margin: 10px 10px 0 auto; */
    /* margin-right: auto; */
    /* margin:0 0 0 0 ; */
}
.btn-add:hover{
    background-color: #02325a;
    color: white;
    border: 2px solid;
}
.btn-cancel{
    background-color: rgb(212, 0, 0);
    color: white;
}
.btn-cancel:hover{
    background: #02325a;
    border: solid rgb(255, 37, 37) 2px;
    color: rgb(255, 37, 37);
    font-weight: 800;
    font-size: 16px;
}
.btn-save{
    background-color: rgb(0, 167, 50);
    color: white;
}
.btn-save:hover{
    background-color: #02325a;
    color: rgb(1, 255, 77);
    border: solid rgb(1, 255, 77) 2px;

}
/* Product List */
.products{
    display: grid;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.ProductDetails{
    padding: 10px;
    border: solid 1px rgb(132, 215, 248);
    width: 300px;
    height: 300px;
    text-align: left;
    border-radius: 7px;  
    background: white;
}
.ProductDetails p{
    margin-left: 1.5em;
}
.productImage{
    display: block;
    height:115px;
    margin: 0 auto 6px auto;
}
.ProductDetails:hover{
    background: #02325a;
    color: white;
    width: 310px;
    height: 285px;
    border: solid rgb(15, 196, 241) 2px;
}
.statusBar{
    border-radius: 7px;
    color: white;
    padding: 10px;
}

.btn-delete{
    color: white;
    background-color:  rgb(226, 1, 1);
    width: 45px;
}

.btn-delete:hover{
    /* background-color:  rgb(165, 4, 4); */
    background-color:  #02325a;
    color:  rgb(255, 20, 20);
    box-shadow: 0 0.5em 0.5em -0.4em rgb(255, 0, 0);
    border: solid 2px rgb(255, 20, 20);

}
.btn-edit{
    width: 45px;
    background-color: rgb(255, 255, 27);
}
.btn-edit:hover{
    color: rgb(255, 255, 27);
    background-color: #02325a;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(255, 255, 27);
    border: solid 2px rgb(255, 255, 27);
}
.product-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;

}

.sortSelect{
    display: block;
    border: none;
    color: #02325a;
    background: transparent;
    border-bottom: 2px solid #02325a;
    height: 2.5em;
    width: 11em;
    padding: 5px 5px 2px 5px;
    margin: 10px 10px 0 auto;
}
.sortSelect:hover{
    cursor: pointer;
    border: solid #02325a 2px;
    border-radius: 5px;
    color: #02325a;
    width: 12em;
    box-shadow: 0 0.5em 0.5em -0.4em #02325a;

}
.sortSelect:focus{
    background: #03589e;
    color: white;
    box-shadow: 5px 5px 5px 5px;
}
@media screen and (min-width: 768px) {
    .products{
    grid-template-columns: repeat(2, 1fr); 
}     
}
@media screen and (min-width: 960px) {
    .products{
    grid-template-columns: repeat(3, 1fr); 
}     
}
@media screen and (min-width: 1200px) {
    .products{
    grid-template-columns: repeat(4, 1fr); 
}   
}
/* form */
.div-form{
    /* margin: 4em 4em; */
    width:30em;
    background: #02325a;
    padding: 40px;
    color: white;
    box-shadow: -0.3em 0.5em 0.5em -0.2em rgb(0, 17, 16);
    margin: 4em auto 4em auto;
}
.div-form input{
    border: none;
    background: #02325a;
    border-bottom: solid 1px;
    color: white;
    margin: auto auto 7px 25px;
    width: 20em;
    
}
.div-form input:hover{
    border-color: rgb(6, 248, 228);
}
.div-form input:focus{
    background: #022f55 ;
    color: rgb(134, 255, 245);
    border-bottom: solid 2px ;
    border-color: rgb(6, 248, 228);
    outline: none;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(6, 248, 228);
}

.div-form p {
    margin-bottom: 8px;
}
.file-input{
    max-width: 20em;
}
/* Fixing the issue of input styles chaged when using autofill */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px #02325a inset !important;
    /*use inset box-shadow to cover background-color*/
    -webkit-text-fill-color: white !important;
    /*use text fill color to cover font color*/
    border-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #022f55 inset !important;
    /*use inset box-shadow to cover background-color*/
    -webkit-text-fill-color: rgb(134, 255, 245) !important;
    /*use text fill color to cover font color*/
}
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px #022f55 inset !important;
    /*use inset box-shadow to cover background-color*/
    -webkit-text-fill-color: white !important;
    /*use text fill color to cover font color*/   
}
/* toggle switch */
/* styling lable */
.toggle {
    --width: 7em;
    --height: 2.1em;

    position: relative;
    display: inline-block;
    width: var(--width);
    height: 2.5em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    margin: auto auto 7px 25px;
}
/* hiding checkbox */
.toggle input {
    display: none;
}
/* Creating slider */
.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 7em;
    height: 2.4em;
    border-radius: 7px;
    background-color: #fa0000;
    transition: all 0.4s ease-in-out;
}
.toggle .slider::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}
/* Adding slider effect */
.toggle input:checked + .slider {
    background-color: #018613;
}
.toggle input:checked + .slider::before {
    transform: translateX(calc(var(--width) - var(--height) - 5px));
}
/* Adding text in the toggle button */
.toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: white;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
    opacity: 0;
}

.toggle input:checked~.labels::before {
    opacity: 1;
}
/* Toggle switch hover */
.toggle:hover .slider {
    background: white; 
    box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
}
.toggle:hover input:checked + .slider{
    background: white; 
    box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
}
.toggle:hover .slider::before{
    background: green;
}
.toggle:hover input:checked + .slider::before{
    background: red;
}
.toggle:hover .labels::before, .toggle:hover .labels::after{
    color: black;
}
.toggle:hover .labels::before{
    content: 'Inactivate';
    font-size: 14.3px;
    color: red;
}
.toggle:hover .labels::after{
    content: 'Activate';
    color: green;
}
/*footer*/
footer {
    position: sticky;
    top: 100%;
    color: white;
    text-align: center;
    z-index: 10;
    height: 60px;
    background-color: #02325a;
    border-radius: 3px;
    padding: 15px;
  }